@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.cart-img {
    width: 130px;
    height: 120px;
    border-radius: 15%;
}

.table {
    font-size: 1.5rem;
    width: 70%;
    font-family: 'Poppins', sans-serif;
}

.cart-quantity-input {
    width: 40px;
    border-radius: 15%;
    border-color: #72147E ;
}

.price {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.btn-mh {
    margin-top: 0rem !important;
    margin-left: 0rem !important;
}

.container {
    margin-bottom: 2rem !important;
}

.order {
    width: 100%;
}