@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.sticky-top {
    background: white !important;
}

.btn-mh {
    margin-left: 6rem !important;
}

.second {
    margin-left: auto;
    margin-right: 4rem ;
}

.fa-shopping-cart {
    font-size: 2.2rem;
}

.ci{
    background-color: #610094;
    color: #fff;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    padding-left: 8px;
}

.menu-cont {
    font-family: 'Poppins', sans-serif;
    margin-bottom:2rem;
}

.menu-card {
    margin-top: 2rem;
    padding-bottom: 10px;
}

.btn-add {
    background-color: #72147E !important;
    font-size: 1rem;
    border-radius: 30rem;
    color: white;
}

.btn-add:hover {
    background-color: #AE00FB !important;
    color: white;
}

.rh {
    margin-top: 2rem;
    color:#610094;
    font-weight: bold;
}

